.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    margin: auto;

    display: grid;
    grid-template-columns: 80px 80px 80px;
}

.box {
    border: 2px solid red;
    height: 40px;
    cursor: pointer;
}

.hiddenBox {
    display: none;
    flex-direction: column;
    width: fit-content;
    background-color: crimson;
    padding: 12px;
    gap: 12px;
    color: white;
    position: fixed;
    top: 30%;
    left: 30%;
}